$color_1: #FFFFFF;
$background-color_1: #DC3545;

.warning {
  display: flex;
  width: 100%;
  position: fixed;
  left: 0;
  justify-content: space-between;
  background-color: $background-color_1;
  color: $color_1;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}