$color_1: #0061D5;
$background-color_1: #ffffff;

.warning {
  background-color: $background-color_1;
  color: $color_1;
  position: sticky;
  top: 0;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

#gradient-canvas {
  width:100%;
  height:100%;
  --gradientcolorzero: #6ec3f4;
  --gradientcolorone: #3a3aff;
  --gradientcolortwo: #ff61ab;
  --gradientcolorthree: #E63946;
}